<div class="form-control">
    <div>
        <!-- Con la interpolacion {{}} se traen los valores del componente.ts hacia el componente.html -->
        Subtotal: {{cartSummary.subtotal| currency}}
    </div>
    <div>
        Iva 15%: {{cartSummary.iva | currency}}
    </div>
    <div>
        Subtotal + IVA: {{cartSummary.subtotaliva| currency}}
    </div>
    <div>
        Descuento: {{cartSummary.totalDescuento| currency}}
    </div>
    <div>
        Total a pagar : {{cartSummary.totalPago| currency}}
    </div>


</div>


<!--? La interpolacion (Two way Binding) permite tener los valores de la variable en le frontend, entonces se pueden visualizar actualizados los valores de las variables.-->
