<div class="d-flex">
    <div class="w-95">
        <div class="display-3">
            Carrito de compras
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <!--$event siempre se deve usar para recibir la informacion que emite el evento de salida, en este caso eventAggProduct-->
                    <app-table-product (eventAggProduct)="aggProduct($event)"></app-table-product>
                </div>
                <div class="col">
                    <!-- Aqui se establece el evento que va a quitar el producto en el html del componente hijo. -->
                    <!-- Si es que tengo un evento que devuelve un valor o una variable ese se puede recibir sobre el '$event'-->
                     <!-- eventQuitProduct es el evento de este componente hijo que envia el producto hacia el metodo quitProduct del componente padre y este lo recibe con $event. -->
                    <app-table-product-selected (eventQuitProduct)="quitProduct($event)"></app-table-product-selected>
                </div>
                <div>
                    <app-cart-summary [cartSummary]="cartSummaryValue"></app-cart-summary>
                </div>
            </div>
        </div>
    </div>
</div>
