<div class="form-control m-2">
    <div class="display-6">
        Productos en stock
    </div>
    <div>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Producto</th>
                <th>Proveedor</th>
                <th>Categoria</th>
                <th>Price</th>
                <th>Stock disponible</th>
                <th>Opciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let product of listaproduct" >
                    <td>{{product.id}}</td>
                    <td>{{product.product}}</td>
                    <td>{{product.provider}}</td>
                    <td [ngSwitch]="product.category">
                        <div *ngSwitchCase="'OC'">
                            Ocio
                        </div>
                        <div *ngSwitchCase="'VA'">
                            Varios
                        </div>
                        <div *ngSwitchCase="'HT'">
                            Salud
                        </div>
                        <div *ngSwitchCase="'CO'">
                            Cocina
                        </div>
                        <div *ngSwitchDefault="">
                            No definido
                        </div>
                        
                    </td>
                    <td>{{product.price | currency}}</td>
                    <td>{{product.stock | quantityPipe}}</td>
                    <td>
                        <!-- Como hay un boton por cada fila (producto) el evento click va a guardar el producto que nosotros seleccionemos -->
                         <!-- Adicional se agrego una condicional para que si el stock de un producto llega a 0 el boton se desactive (aqui agregamos el disable para manejar esta condicion.) -->
                        <!-- <input class="btn btn-primary" type="button" value="+"> -->
                        <button class="btn btn-primary" (click)="aggProduct(product)" [disabled]="product.stock == 0"><i class="fa fa-plus"></i>+</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>