<div class="m-4">
    <div class="display-3">
        Mantenimiento de dispositivos
    </div>
    <div>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newdevice"> Nuevo dispositivo </button>
    </div>
    <table class="table table-hover">
        <thead>
            <th>#</th>
            <th>Dispositivo</th>
            <th>Cantidad</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            <!--tr = table row = fila-->
            <tr *ngFor="let device of deviceList">
                <td> {{ device.id }} </td>
                <td> {{ device.name }} </td>
                <td> {{ device.quantity }}</td>
                <td>
                    <!--Dentro de los atributos del boton, en sus parametros de configuracion de puede usar un condicional para deshabilitar
                    dicho boton cuando haya una cantidad menor o mayor a un numero determinado. -->
                    <app-crud-button 
                        [styleButton]="'primary'" 
                        [iconButton]="'refresh'" 
                        [device]="device"
                        (clickSave)="updateTable($event)"
                        ></app-crud-button> 
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="newdevice" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar dispositivo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label for="device">Dispositivos</label>
                    <input class="form-control" type="text" [(ngModel)]="newDeviceName" name="device" id="device">
                </div>
                <div>
                    <label for="quantity">Cantidad</label>
                    <input class="form-control" type="number" [(ngModel)]="newDeviceQuantity" name="quantity" id="quantity">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="addNewDevice()" data-bs-dismiss="modal" >Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- ? En el HTML del componente padre (device.component.html), el botón hijo se usa así:
     ? (clickSave)="updateTable($event)" --- Aquí se "escucha" el evento 
     ? El app-crud-button emite el evento clickSave.
     ? En el padre, usamos (clickSave)="updateTable($event)" para escuchar el evento.
     ? Cuando clickSave se emite, el método updateTable($event) se ejecuta.
     ? El $event contiene el objeto deviceUpdate que envió el hijo.
-->

<!--? Siempre que hay un event que envia informacion como es el caso de updateTable() ese valor que se envia esta representado con un $event-->
  
 